@import '~bootstrap/scss/bootstrap';
$success: #4BB543;
$failure: #cc0000;
$theme-color: #E0E0E0;
$primary-color: #F3F3F3;
$wine-color: #6b1e2d;

// body {
//   background-attachment: fixed;
//   background-image: url('./public/images/grapes_maja_petric.jpg');
//   background-size: cover;
//   color: $wine-color;
//   height: 100%;
//   .container {
//     background-color: pink;
//     border: 3px solid black;
//     height: 600px;
//     // overflow-x: hidden;
//     // overflow-y: auto;
//     overflow: auto;
//     width: 500px;
//   }
// }

body {
  background: url('./public/images/grapes_maja_petric.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $wine-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.cellar {
  margin-left: 1rem;
  margin-top: 2rem;
  float: left;
  .main {
    margin: .5rem;
    min-width: -webkit-fill-available;
  }
  .wine-id {
    display: grid;
    input {
      border-radius: 5px;
      margin: auto;
      max-width: 8rem;
    }
  }
}

.wine-cellar {
  display: flex;
}

.container {
  background-color: white;
  border: 3px solid black;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: auto;
  width: 50vw;
  h2 {
    text-align: center;
  }
}



// Would love to get below to work for background image opacity
// without turning all elements opaque
// .my-container {
//     position: relative;
//     // overflow: hidden;
//   }
//
// /* You could use :after - it doesn't really matter */
// .my-container::after {
//     content: ' ';
//     display: block;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
//     opacity: 0.6;
//     background-image: url('/images/grapes_maja_petric.jpg');
//     background-repeat: no-repeat;
//     background-position: 50% 0;
//     // -ms-background-size: cover;
//     // -o-background-size: cover;
//     // -moz-background-size: cover;
//     // -webkit-background-size: cover;
//     background-size: cover;
// }

.greeting {
  display: flex;
  flex-direction: column;

  margin-left: 60%;
  margin-right: 0;

  input {
    margin: 5px;
  }
}

.sign-up {
  border: 3px solid $theme-color;
  border-radius: 3px;
  display: inline-block;
  color: $wine-color;
  height: 230px;
  margin: 20px 0;
  padding: 30px;
  width: 270px;
}

.sign-in {
  border: 3px solid $theme-color;
  border-radius: 3px;
  color: $wine-color;
  height: 220px;
  margin: 20px 0;
  padding: 30px;
  width: 270px;
}

.auth-items {
  input {
    margin: 3px;
  }
}

// .container {
//   background-color: white;
//   border: 3px solid black;
//   height: 800px;
//   overflow-x: hidden;
//   overflow-y: auto;
//   width: 500px;
// }

.success {
  color: $success;
}

.failure {
  color: $failure;
}
