@import '~bootstrap/scss/bootstrap';
$success: #4bb543;
$failure: #c00;
$theme-color: #e0e0e0;
$primary-color: #f3f3f3;
$wine-color: #6b1e2d;
$font-color: #fff;

body {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background: url('./public/images/grapes_maja_petric.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $wine-color;
}

.cellar {
  float: left;
  margin-left: 1rem;
  margin-top: 2rem;

  .main {
    margin: .5rem;
    min-width: -webkit-fill-available;
  }

  .wine-id {
    display: grid;

    input {
      border-radius: 5px;
      margin: auto;
      max-width: 8rem;
    }
  }
}

.container {
  float: right;
  margin-right: -20vw;
  margin-top: 10vh;
}

.card {
  background-color: $wine-color;
  color: $font-color;
  margin-bottom: 1rem;
  width: 50vw;

  h3 {
    text-align: center;
  }

  ul {
    padding-left: 1rem;
  }

  button {
    align-items: center;
    margin: .5rem;
  }
}

.dropdown-menu {
  padding: 1rem;
  width: 50vw;
  z-index: 5;
}

.modal-backdrop {
  display: none;
}

.greeting {
  display: flex;
  flex-direction: column;

  margin-left: 60%;
  margin-right: 0;

  input {
    margin: 5px;
  }
}

.sign-up {
  border: 3px solid $theme-color;
  border-radius: 3px;
  color: $wine-color;
  display: inline-block;
  height: 230px;
  margin: 20px 0;
  padding: 30px;
  width: 270px;
}

.sign-in {
  border: 3px solid $theme-color;
  border-radius: 3px;
  color: $wine-color;
  height: 220px;
  margin: 20px 0;
  padding: 30px;
  width: 270px;
}

.auth-items {
  input {
    margin: 3px;
  }
}

.success {
  color: $success;
}

.failure {
  color: $failure;
}

@media (max-width: 425px) {

  .greeting {
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px;
  }

  nav form {
    margin-bottom: .5rem;
  }

  .cellar {
    margin-left: 30%;
  }

  .container {
    display: block;
    float: none;
    margin: 5%;
    width: 90%;

    .card {
      font-size: .5rem;
      margin-bottom: inherit;
      width: 80vw;

      h3 {
        font-size: 1.2rem;
      }

      button {
        font-size: 80%;
        line-height: 2;
        padding: 2px 4px;
      }
    }
  }
}

@media (max-width: 320px) {
  .greeting {
    // margin-left: 5%;
    // margin-right: 5%;
    // padding: 50px;
    padding-left: .5rem;
  }
}
